* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p{
	font-style: italic;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

input {
	width: 48%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#question {
	margin-right: 10px;
}
  
#answer {
	margin-left: 10px;
}

#add-btn {
	color: #ecf0f1;
	font-size: 17px;
	background-color: #212121;
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 6px 0px #787878;
	transition: all 50ms;
	width: 120px;
}
   
#add-btn:active {
	box-shadow: 0px 2px 0px #787878;
	position: relative;
	top: 2px;
}

#start-btn {
	color: #ecf0f1;
	font-size: 17px;
	background-color: #55bd25;
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 6px 0px #787878;
	transition: all 50ms;
	width: 120px;
   }
   
#start-btn:active {
	box-shadow: 0px 2px 0px #787878;
	position: relative;
	top: 2px;
}

.buttons-section {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#reshuffle-btn {
	color: #ecf0f1;
	font-size: 17px;
	background-color: #d13c3c;
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 6px 0px #787878;
	transition: all 50ms;
   }
   
#reshuffle-btn:active {
	box-shadow: 0px 2px 0px #787878;
	position: relative;
	top: 2px;
}

.question-card {
	margin-top: 20px;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.question-card h2 {
	margin-bottom: 10px;
}
  
  .question-card .answer {
	display: none;
}
  
.question-card .buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

.buttons button {
	color: #ecf0f1;
	font-size: 17px;
	background-color: #843ad8;
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 6px 0px #787878;
	transition: all 50ms;
}

@media only screen and (max-width: 767px) {

	#question,
	#answer,
	#add-btn {
	  display: block;
	  margin: 0 auto;
	}
  
	.question-card h2 {
	  font-size: 20px;
	}
  
	.answer {
	  font-size: 16px;
	}
  
	.question-card + .question-card {
	  margin-top: 20px;
	}
}